
<launch>
    <param name="use_sim_time" value="false"/>


    <node name="uwb_driver_test_node" pkg="hans_bringup" type="uwb_driver_test_node" output="screen" respawn="true">
       	<param name="anchor0_locat_x"  value="0.0"/>
        <param name="anchor0_locat_y"  value="0.0"/>
        <param name="anchor0_locat_z"  value="0.0"/>
       	<param name="anchor1_locat_x"  value="1.50"/>
        <param name="anchor1_locat_y"  value="0.0"/>
        <param name="anchor1_locat_z"  value="0.0"/>
       	<param name="anchor2_locat_x"  value="1.50"/>
        <param name="anchor2_locat_y"  value="1.80"/>
        <param name="anchor2_locat_z"  value="0.0"/>
    </node>

</launch>
